/* 1. Mantenlo en la primerísima línea */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap");

@import "tailwindcss";

@theme {
  /* En Tailwind v4, usa comillas dobles envolviendo toda la cadena */
  --font-inter: "Inter", sans-serif;
  --font-space: "Space Grotesk", sans-serif;
}

:root {
  --primary-color: #d4ff00;
  --secondary-color: #1e1e1e;
  --tertiary-color: #1e1e1e;
  --background-color: #121212;
  --text-color: #e5e2e1;
  --subtext-color: #c5c9ac;
  --border-color: #26281f;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-inter);
}

/* En las propiedades CSS puras, usa comillas simples para nombres con espacios */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
}

p {
  font-family: "Inter", sans-serif;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #121212 inset; /* Mismo color de tu fondo */
  -webkit-text-fill-color: #ffffff !important;      /* Color del texto */
}
